<!DOCTYPE html>
<html>
  <head>
    <title>Note20 - Nouvelle note</title>
    <link rel='stylesheet' href='/stylesheets/editor.css' />
  </head>


  <body>
    <ul id='header'>
      <li id='logo'><img src='images/topbar-logo.png' height='20' width='60'/></li>
      <li class='dropdown'>
        <p class='dropbtn'/><%= user %></p>
        <div class='dropdown-content'>
          <a id='logout' href='/logout'>Se déconnecter</a>
        </div>
      </li>
    </ul>
    <form action='/save<% if(!newNote) { %>?note=<%= note._id %><% } %>' method='POST' >
      <div class='topbar'>
        <input type='text' placeholder='Nouvelle note' name='title' autocomplete='off' <% if(!newNote) { %>value='<%= note.title %>'<% } %>>
        <div class='back-button'><a href='/'>Retour</a></div>
        <p>|</p>
        <button action='submit'>Enregistrer</button>
      </div>
      <textarea placeholder="Qu'avez-vous en tête ?" name='content'><% if(!newNote) { %><%= note.content %><% } %></textarea>
    </form>
  </body>
</html>
