<!DOCTYPE html>
<html>
  <head>
    <title>Note20 - connexion</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <header>
      <!-- <div id='logo'>Note20</div> -->
      <ul id='topbar'>
        <li id='logo'>Note20</li>
        <li><a href='/about'>A propos</a></li>
      </ul>
    </header>
<!--     <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br> -->
    <!-- <form action="/login" method="POST">
      <header>
        Connexion
        <span id='form-header-button'>Inscription</span>
      </header>
    	Adresse email : 
			<input type="text" placeholder="login" name="login"/>
		  Mot de passe : 
			<input type="password" name="passwd"/>
		  <button type="submit">Se connecter</button>
	 </form> -->
   <form>
      <header>
        Login
      </header>
      <label>
        Username 
        <span>*</span>
      </label>
      <input/>
      <div class="help">
        At least 6 character
      </div>
      <label>
        Password 
        <span>*</span>
      </label>
      <input/>
      <div class="help">
        Use upper and lowercase lettes as well
      </div>
      <button>Login</button>
    </form>
  </body>
</html>
