<!DOCTYPE html>
<html>
  <head>
    <title>Note20 - Inscription</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
      var checkForm = function() {
        if(document.getElementById('passwd').value != document.getElementById('confPasswd').value) {
          document.getElementById('confPasswdField').style.border = '1px solid red';
          document.getElementById('passwdField').style.border = '1px solid red';
          document.getElementById('no-match').style.display = 'inline';
          return false;
        }
        if(document.getElementById('login').value.length == 0) {
          document.getElementById('loginField').style.border = '1px solid red';
          document.getElementById('field-empty').style.display = 'inline';
          return false;
        }
        if(document.getElementById('email').value.length == 0) {
          document.getElementById('eMailField').style.border = '1px solid red';
          document.getElementById('field-empty').style.display = 'inline';
          return false;
        }
        if(document.getElementById('passwd').value.length == 0) {
          document.getElementById('passwdField').style.border = '1px solid red';
          document.getElementById('field-empty').style.display = 'inline';
          return false;
        }
      }
    </script>
  </head>
  <body>
    <div class='container'>
    <img src='images/login-logo.png' height='150' width='450'/>
      <form action='/signup' method='POST' onsubmit='return checkForm()'>
        <header>
          <div class='login-title'>Inscription</div>
          <div class='login-switch'><a href='/login'>Connexion</a></div>
        </header>
        <div class='textfield' id='loginField'>
          <img src='/images/login-user.png' />
          <input type="text" placeholder="Nom d'utilisateur" name="login" id='login'/>
        </div>
        <div class='textfield' id='eMailField'>
          <img src='/images/login-email.png' />
          <input type="text" placeholder="Adresse eMail" name="email" id='email'/>
        </div>
        <div class='textfield' id='passwdField'>
          <img src='/images/login-password.png' />
          <input type='password' placeholder='Mot de passe' name='passwd' id='passwd'/>
        </div>
        <div class='textfield' id='confPasswdField'>
          <img src='/images/login-passwordConf.png' />
          <input type='password' placeholder='Confirmation du mot de passe' id='confPasswd'/>
        </div>
        <p class='error' id='username-taken'>Le nom d'utilisateur est déjà utilisé.</p>
        <p class='error' id='field-empty'>Tous les champs doivent être remplis.</p>
        <p class='error' id='no-match'>Le mot de passe et sa confirmation doivent concorder.</p>
        <button action='submit' id='submit-button'>
          S'inscrire
        </button>
      </form>
    </div>
    <script>
      if(<%- error %>) {
        document.getElementById('username-taken').style.display = 'inline';
        document.getElementById('loginField').style.border = '1px solid red';
      }
    </script>
  </body>
</html>
