@font-face {
	font-family: Ubuntu;
	src: url(../fonts/ubuntu-r.ttf);
}

 html, body {
 	display: flex;
 	flex-direction: column;
 	height: 100%;
 	top: 0;
 	left: 0;
 }

a {
	text-decoration: none;
}

a:visited {
	color: inherit;
	text-decoration: none;
}

 header ul {
 	width: 100%
 	background-color: yellow;
 }

.container {
	flex: 1;
	display: flex;
	font-family: Ubuntu;
	border: 0;
	padding:0;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

}

form {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	box-shadow: 0 0 25px black;
	width: 60%;
	text-align: center;
	align-items: center;
}

form header {
	width: 95%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border-bottom: 2px solid #2191E8;
	color: #2191E8;
	padding: 15px 5px 0 0;
	margin: 0 10px 20px 10px;
}

.login-title {
	font-size: 3em;
	font-weight: lighter;
	margin: 0;
	padding: 0;
	height: 100%;
	border-bottom: 4px solid #2191E8;
}


.login-switch {
	align-self: center;
	display: block;
	float: right;
	text-align: center;
	padding: 10px 8px 10px 8px;
}

.login-switch:hover {
	background-color: #F0F0F0
}

.textfield {
	display: flex;
	margin: 5px 0 5px 0;
	padding: 6px;
	width: 75%;
	text-align: left;
	background-color: #E3E3E3;
}

input {
	font-family: Ubuntu;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	font-size: 16px;
	flex: 1;
}

.error {
	display: none;
	color: red;
}

button {
	font-family: Ubuntu;
	border: none;
	background-color: #24FFAC;
	margin-top: 15px;
	padding: 8px 30px 8px 30px;
	margin-bottom: 10px;
	cursor: pointer;
}

